* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
}

.heading-lv1{
  font-weight: 500;
  font-size: 6rem;
  line-height: 70px;
}

.text{
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.cta-btn {
  display: inline-block;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.main-content {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =============================== header =============================== */

header .body {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

header.fixed {
  position: sticky;
  top: 0px;
}

header .logo {
  display: flex;
  gap: 20px;
}

header .cta-btn-group {
  display: flex;
  gap: 40px;
  align-items: center;
}

header .cta-btn-group .header-cta-btn {
  width: 231px;
  height: 68px;
}

/* ======================================== book ============================================ */

.book{
  margin-top: 70px;
}

.book .body{
  display: flex;
  justify-content: space-between;
  height: 515px;
}

.book .body .book-left{
  width: 41%;
  height: 93%;
}

.book .book-left p{
  margin-top: 35px;
  width: 93%;
  line-height: 28px;
  
}

.book .book-left .book-btn{
  margin-top: 35px;
  max-width: 50%;
  height: 14%;
  color: white;
  background-color: black;
}

.book .book-right img{
  object-fit: cover;
}