* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
}

.heading-lv1{
  font-weight: 500;
  font-size: 6rem;
  line-height: 70px;
}

.heading-lv2{
  font-weight: 500;
  font-size: 4rem;
  line-height: 70px;
}

.heading-lv3{
  font-weight: 500;
  font-size: 3rem;
}

.text{
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.cta-btn {
  display: inline-block;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.main-content {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =============================== header =============================== */

header .body {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

header.fixed {
  position: sticky;
  top: 0px;
}

header .logo {
  display: flex;
  gap: 20px;
}

header .cta-btn-group {
  display: flex;
  gap: 40px;
  align-items: center;
}

header .cta-btn-group .header-cta-btn {
  width: 231px;
  height: 68px;
}

/* ======================================== book ============================================ */

.book{
  margin-top: 70px;
}

.book .body{
  display: flex;
  justify-content: space-between;
  height: 515px;
}

.book .body .book-left{
  width: 41%;
  height: 93%;
}

.book .book-left p{
  margin-top: 35px;
  width: 93%;
  line-height: 28px;
  
}

.book .book-left .book-btn{
  margin-top: 35px;
  max-width: 50%;
  height: 14%;
  color: white;
  background-color: black;
}

.book .book-right img{
  object-fit: cover;
}

/* ============================ partners ============================ */

.partners{
  margin-top: 70px;
}

.partners .body{
  display: flex;
  justify-content: space-between;
}

.partners .hubspot {
  display: flex;
  /* position: relative; */
}

.partners .hubspot .hubspot-logo-icon{
  margin-left: -55px;
}

/* ======================= services top =========================== */

.services-heading {
  margin-top: 120px;
}

.services-heading .body {
  display: flex;
}

.services-heading .heading-lv2 {
  background-color: #B9FF66;
  border-radius: 10px;
  padding: 0px 5px;
}

.services-heading .text{
  margin-left: 47px;
  width: 650px;
  line-height: 30px;
}

/* ===================== services block ========================== */

.service-blocks{
  margin-top: 100px;
}

.service-blocks .body .twin-blocks{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.service-blocks .body .twin-element{
  display: flex;
  background-color: #F3F3F3;
  border: 3px solid #7D7E83;
  width: 48%;
  padding: 50px;
  border-radius: 40px;
}

.service-blocks .body .twin-element:hover{
  box-shadow: 0px 6px 1px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 6px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 1px 0px rgba(0,0,0,1);
}


.service-blocks .body .twin-element.type2{
  background-color: #B9FF66;
}

.service-blocks .body .twin-element.type3{
  background-color: #191A23;
}

.service-blocks .twin-element .services-h3{
  display: inline-block;
  border-radius: 10px;
  padding: 5px 5px;
}

.service-blocks .twin-element .services-h3.green{
  background-color: #B9FF66;
}

.service-blocks .twin-element .services-h3.white{
  background-color: white;
}

.service-blocks .twin-element{
  display: flex;
  justify-content: space-between;
}

.service-blocks .twin-element .learn-more{
  display: flex;
  align-items: center;
}

.service-blocks .twin-element .block-left{
  width: 40%;
}


.service-blocks .twin-element .block-left .learn-more{
  margin-top: 93px;
}

.service-blocks .twin-element .learn-more .pointer-cta{
  border-radius: 50%;
  padding: 5px;
}

.service-blocks .twin-element .learn-more .pointer-cta.green{
  background-color: #191A23;
}

.service-blocks .twin-element .learn-more .pointer-cta.white{
  background-color: white;
}

.service-blocks .twin-element .learn-more .more{
  margin-left: 15px;
}

.service-blocks .twin-element .learn-more .more.white{
  color: white;
}